.navbarOuterDiv {
    background-color: aliceblue;
}
.navbarInnerDiv {
    margin: 5px 10px;
    padding: 6px 12px;
    border: 1.31px solid #EAEAEA;
    padding: 16.97px 20.89px 16.97px 52.22px;
    gap: 0px;
    border-radius: 0px 65.28px 65.28px 0px;
    border: 1px 0px 0px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 90%;
    margin-left: 20px;
    cursor: pointer;
}

.endNavbar {
    text-align: end;
}
.getProjects {
    background: white;  
    margin-right: 10px; 
}
.getProjects:hover {
    background: #F1F1F1;
}
.onBoard {
    background-color: black;
    color: #F1F1F1;
}
.onBoard:hover {
    background-color: #4E4E4E;
}
.close {
    border: 1.31px solid #EAEAEA;
    border-radius: 50px;
    padding: 16px;
    cursor: pointer;
}
.close:hover {
    background: #F1F1F1;
}